<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../style/bootswatch.css">

</head>

<body>
  <div class="container h-100 text-center">
    <form class="w-50 mx-auto"><br><br><br><br>
      <h2>Sign in</h2><br>
      <fieldset>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-control-lg">Email address</label>
          <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-control-lg">Password</label>
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
        <div class="form-group">
          <a href="#!">Forgot your password?</a>
        </div><br>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>

</body>